.algolia-react-autocomplete {
    width: 100%;
    font-family: sans-serif;
    position: relative;
}

.aa-input-container {
    position: relative;
    width: 100%;
}

.aa-input-search {
    width: 100%;
    padding: 12px 28px 12px 12px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hidden {
    display: none;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
    display: none;
}

.aa-input-search {
    display: block;
    border-radius: 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #0006;
    padding: 2px 5px 14px 60px;
    line-height: 1;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 400;
    outline: none;
    margin: 0px;
}

.aa-input-container button {
    border:none;
    background: none;
    box-shadow: none;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 2rem;
    font-weight: 200;
}


.aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #e4e4e4;
    pointer-events: none;
}

.aa-dropdown-menu {
    background-color: #fff;
    width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
}

.aa-suggestion {
    padding: 6px 12px;
    cursor: pointer;
}

.aa-suggestion.selected,
.aa-suggestion:hover {
    color: tomato;
}


.aa-suggestions-category {
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 6px 12px;
    opacity: 0.6;
}

.aa-dropdown-menus {
    display: block;
    position: absolute;
    z-index: 9;
    top: 60px;
    width: 100%;
    background: #fff;
    max-height: 400px;
    overflow-x: hidden;
}

.algolia-react-autocomplete {
    position: relative;
}

.aa-dropdown-menu > div {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.aa-empty {
    padding: 6px 12px;
}
